---
layout: module
type: Overview
permalink: "overview.html"
order: 1
---
<!-- <section class="content"> -->

<nav id="custom-bootstrap-menu" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a href="#"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button></a>
                <a class="navbar-brand" href="../landingpage.html">Module 1</a>
        </div>
   <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          {% for order in (1..10) %}
            {% for p in site.pages %}
                {% if p.order == order %}
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.permalink }}">{{ p.type }}</a>
          </li>
                {% endif %}
            {% endfor %}
          {% endfor %}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Page Header -->
    <!-- Change the name of the banner to banner.jpg in the image folder -->
    <header class="intro-header" style="background-image: url('../images/banner.jpg')">
        <div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"><!--Bootstrap grid-->
                    <div class="page-heading">
                        <h1>{{page.type}}</h1>
                        <hr class="small">
                        <h2 class="subhead">
                            {% for module in site.data.bmgt205.modules %}
                                {% if module.number == 1 %}
                                    {{ module.name }}  
                                {% endif %}
                            {% endfor %}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
 <div class="container lcolumn editable">
        <div class="row">
            <h2 class="section-heading">Overview</h2>
      		    <p>In this module, we ....</p>
      		    <p> {% for module in site.data.bmgt205.modules %}
                                {% if module.number == 1 %}
                                    {{ module.description }}  
                                {% endif %}
                            {% endfor %}</p>
      		
            <h2 class="section-heading">Learning outcomes</h2> 
                <p>By the end of this module, you will be able to:</p>
			     <ul>
                    {% for module in site.data.bmgt205.modules %}
                        {% if module.number == 1 %}
                            <li>{{ module.objectives }}</li>  
                        {% endif %}
                    {% endfor %}      		    
                </ul>
            <h2 class="section-heading">Topics</h2>
	  			<p>In this module, we plan to discuss:</p>
				<ul>
                    {% for module in site.data.bmgt205.modules %}
                        {% if module.number == 1 %}
                            <li>{{ module.topics }}</li>  
                        {% endif %}
                    {% endfor %}      		    
                </ul>
			 <h2 class="section-heading">Required readings</h2>
                <ul>
                    <li>{{ site.data.bmgt205.textbook }} 
                {% for module in site.data.bmgt205.modules %}
                    {% if module.number == 1 %}
                        {{ module.activities.Reading }}</li>  
                    {% endif %}
                {% endfor %}
                  </li>  
				</ul>
            <p>&nbsp;</p>
        </div><!--row-->
    </div><!--container-->
<div class="container rcolumn checklist editable">
<h3>Checklist</h3>        
    <form role="form">
        {% for module in site.data.bmgt205.modules %}
            {% if module.number == 1 %}
            <div class="checkbox">
            <label><input  id="check1" onClick="save('check1');" type="checkbox" value="">
                <h4>Readings</h4></label><p>Textbook name {{ module.activities.Reading }}</p>
            </div><div class="checkbox">
            <label><input id="check2" onClick="save('check2');" type="checkbox" value="">
                <h4>Quizzes</h4></label><p>Answer the questions from {{ module.activities.Quiz }} of (BOOK NAME)</p></label>
            </div><div class="checkbox">
            <label><input id="check3" onClick="save('check3');" type="checkbox" value="">
                <h4>Exercises</h4></label><p>Complete the exercise in {{ module.assessments.Exercise }}</p>
            </div><div class="checkbox">
            <label><input id="check4" onClick="save('check4');" type="checkbox" value="">
                <h4>Discussion</h4></label><p>Participate in the discussion on {{ module.assessments.Discussion }}</p> 
            </div><div class="checkbox">
            <label><input id="check5" onClick="save('check5');" type="checkbox" value="">
                <h4>Assignment</h4></label><p>Complete the assignment on {{ module.assessments.Assignment }}</p> 
            </div><div class="checkbox">
            <label><input id="check6" onClick="save('check6');" type="checkbox" value="">
                <h4>Live Sessions</h4></label><p>Attend the live conferencing session held weekly by your instructor using the Collaborate tool.</p>
            </div>        
            {% endif %}
        {% endfor %} 
</form>
</div>
<!-- </section> -->