---
layout: module
type: Quiz
permalink: "quiz.html"
order: 3
---
<!-- <section class="content"> -->

<nav id="custom-bootstrap-menu" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a href="#"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button></a>
                <a class="navbar-brand" href="../landingpage.html">Module 1</a>
        </div>
   <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          {% for order in (1..10) %}
            {% for p in site.pages %}
                {% if p.order == order %}
          <li>
            <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.permalink }}">{{ p.type }}</a>
          </li>
                {% endif %}
            {% endfor %}
          {% endfor %}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Page Header -->
    <!-- Change the name of the banner to banner.jpg in the image folder -->
    <header class="intro-header" style="background-image: url('../images/banner.jpg')">  	
        <div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"><!--Bootstrap grid-->
                    <div class="page-heading">
                        <h1>{{page.type}}</h1>
                        <hr class="small">
                        <h2 class="subhead">
                            {% for module in site.data.bmgt205.modules %}
                                {% if module.number == 1 %}
                                    {{ module.name }}  
                                {% endif %}
                            {% endfor %}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
  <!-- Discussion Content -->
        <div class="container fcolumn editable">
            <div class="row">
                 <h2 class="section-heading">Quiz #</h2>
                <img src="../images/quiz.jpg" width="300" style="float: right;" alt="picture of a stop button">
                  <p>This quiz focuses on questions from Chapter {% for module in site.data.bmgt205.modules %}
                    {% if module.number == 1 %}
                        {{ module.number }}  
                    {% endif %}
                {% endfor %} of {{ site.data.bmgt205.textbook }}. You have 30 minutes to answer 10 questions.</p>
                  <p>You can attempt the quiz two times. Only the highest score will be applied to your final grade. </p>
                 <h3>Instructions</h3>
                  <p>To take the quiz:</p>
                     <ol> 
                        <li>Click Assessments on the side menu then scroll to the name of the quiz.</li>  
                        <li>Click the quiz name to open the Instructions page.</li>
                        <li>Read the instructions then click Begin to start the quiz.</li>
                     </ol>
                <p>You can attempt the quiz two times. Only the highest score will be applied to your final grade.</p>
              <h3>Criteria</h3>  
              <p>This quiz is worth 20 points, which are converted into 1 percent of your final grade. The results are available as soon as you complete the quiz. Your mark is posted in the My Grades area under My Tools.</p>  
            </div><!--row-->
          </div><!--container-->
<!-- </section> -->
