<!-- Footer: Do not change -->
 <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
                <p class="copyright">&copy; <script type="text/javascript">var theDate=new Date()	
					document.write(theDate.getFullYear())</script> by Humber College - All rights reserved</p>
                <a href="xxx.html"><button type="button" class="btn btn-default btn-lg">Back</button></a>
                <a href="xxx.html"><button type="button" class="btn btn-default btn-lg">Next</button></a>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
 </footer>
    <!-- javascript links so page loads faster: Do not change -->
    <script src="../assets/js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript: Do not change -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript: Do not change -->
    <script src="../assets/js/clean-blog.min.js"></script>