<!-- Page Header -->
    <!-- Change the name of the banner to banner.jpg in the image folder -->
    <header class="intro-header" style="background-image: url('../../images/banner.jpg')">
        <div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"><!--Bootstrap grid-->
                    <div class="page-heading">
                        <h1>{{page.type}}</h1>
                        <hr class="small">
                        <h1 class="subhead">
                            {% for module in site.data.bmgt205.modules %}
                                {% if module.number == 1 %}
                                    {{ module.name }}  
                                {% endif %}
                            {% endfor %}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>