<h3>Submission</h3>
<p>To submit your answers:</p>
<ol>
    <li>Click Journals on the side menu then scroll to the name of the journal.</li>
    <li>Click the journal name to open the Journals page.</li>
    <li>Click the Create Journal Entry button to start a new entry.</li>
    <li>Record your answers to the questions for this week and explain why.</li>
    <li>Click the Add button to log your entry.</li>
</ol>
<p><strong>Note:</strong>&nbsp;Be sure to use proper grammar and spelling.</p> 