
/*the overflow x hides the horizontal scrolling bars*/
body{
	overflow-x:hidden;
	font-size: 1.6em;
}
header{
	display: in-line block;
	text-align:center;
	color: #cc3333;  /* #FCAE17 */  
	height:300px;
	background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	/* filter: opacity(70%); /*for banner image brighness */
	
}
header h1{
	font-family:Verdana, Geneva, sans-serif;
	font-size: 4em;
	padding-top:100px;
	max-width:800px;
	margin:0 auto;
    font-weight: 800;
	text-shadow: 0.1em 0.1em 0.2em #FFFFFF;
}
h2, h3 { 
	color: #cc3333;
}

hr.small {
  max-width: 200px;
  margin: 15px auto;
  border-width: 2px;
  border-color: #cc3333;
}
.container{
	margin-top:20px;
	padding-left:30px;
	padding-right:30px;
}

h4{
	margin-top:0px;
	margin-bottom:0px;
}
/* style for figure images*/
.figure {
	border-color: #000000; 
	border: 2px solid; 
	float: left;
	margin-right: 20px;
}
/*Links
a{
	color:#851527;
}*/
a.navigation{
	color:white;
	text-decoration:underline
}
img{
	padding:0px;
}
img.icon{
	float: left;
	margin:0px 15px 5px 0px;
	height:120px;
	width:120px;
}
/*remove spacing from Start Here image grid*/
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
/*Column Presets*/
.fcolumn{
	width:100%;
	display:block;
}
.gcolumn{
	width:100%;
	float:left;
}
.lcolumn{
	width:70%;
	float:left;
}
.rcolumn{
	width:25%;
	float:right;
	margin-top:50px;
	/* margin-right: 20px; */
}
.hcolumn{
	width:45%;
	margin-top:5px;
	/* display:inline-block; */
}

/*Add color from style guideline*/
.checklist{
	border-radius:5px 5px 5px 5px;
	background-color: #e6e6e5; /* #fec60a */  
	color: #000000;
}
.assignment{
	border-radius:5px 5px 5px 5px;
	background-color: #e6e6e5;
	/* color:#fff */
	}
.review{ 
	width: 100%;
	margin-top:20px;
	padding-left:30px;
	padding-right:30px;
	border-radius:5px 5px 5px 5px;
	background-color: #e6e6e5;

	}
.subhead{
	/* max-width:400px; */
	font-size:24px;
	font-weight: bold;
	display:inline-block;
	margin-top:0px;
	padding-top:0px;
	text-shadow: 0.1em 0.1em 0.2em #FFFFFF;
	}
form label{
	font-weight:bold;
}

form li{
	font-size:12px;
}
br{
	width:100%;
	clear:both;
}
.active{
	border-bottom:3px white solid;
}
th { 
	text-align: center;
	background-color:#CCCCCC;
}


/*Pager*/

.pager li > a,
.pager li > span {
  font-family:Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color:#333;
  letter-spacing: 1px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #851527;
  border: 1px solid #851527;
}

/*footer*/
footer{
	margin-top:50px;
	display:block;
	clear:both;
	background-color: #003333;
}
.copyright {
  font-size: 14px;
  /* text-align: center; */
  margin-top: 1em;
  margin-bottom: 20px; 
  color:white;
}


/*Bootstrap Nav Custom*/

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar{
	background:#fff !important;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle{
	border-color:#eee !important;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: #fff;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.55);
    border:none;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform:uppercase;
    font-weight:bold;
    background-color: rgba(248, 248, 248, 0);
}
/*change the colors below to reflect the secondary color of the style guideline*/
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover{
    color: #851527;
    background-color: rgba(0, 0, 0, 0);

}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #851527;
    background-color: rgba(0, 0, 0, 0);

}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(38, 117, 57, 1);
    background-color: rgba(0, 0, 0, 0);
    text-decoration:underline;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}