---
title: Commentary
permalink: "commentary.html"
order: 2
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
<!-- <body id="page-top"> -->
{% include navdata.html %}    
    
{% include header.html %} 

<!-- Main Content -->
<div class="container-fluid editable">
    <div class="col">    
        <figure class="float-right" style="padding-left: 20px;">
            <img src="../../images/commentary.jpg" class="figure-img img-fluid" style="width: 20rem;" alt="stock market trading board">
            <figcaption class="figure-caption">Source: <cite>Fotolio</cite></figcaption>
        </figure> 
        {{content}}  
    </div><!--row-->
</div><!--container-->
<!-- </section> -->
{% include footdata.html %}