---
permalink: "commentary.html"
order: 2
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    {% include header.html %}

    <body>
<!-- <body id="page-top"> -->
{% include nav_stat.html %}

<!-- <section class="content"> -->

<!-- Main Content -->
    <div class="container fcolumn editable">
        <div class="row">
            <img src="../../images/commentary.jpg" class="img-responsive" style="float: right;" alt="stock market trading board">
            {{content}} 
            
        </div><!--row-->
    </div><!--container-->
<!-- </section> -->
{% include foot.html %}
</body>
</html>