---
title: Discussion
permalink: "discussion.html"
order: 5
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
<!-- <body id="page-top"> -->
{% include navdata.html %}    
    
{% include header.html %} 

<!-- Main Content --> 
  <div class="container-fluid editable">
  	<div class="col">
        <figure class="float-right" style="padding-left: 20px;">
                    <img src="../../images/discussion.jpg" class="figure-img img-fluid" style="width: 20rem;" alt="a group of people talking">
                    <figcaption class="figure-caption">Source: <cite>Fotolio</cite></figcaption>
                </figure>
        {{content}} 

    <p>&nbsp;</p>
  </div><!--row-->
</div><!-- container-->
<!-- </section> -->
{% include footdata.html %}

